@import '~src/assets/styles/theme-default';

:host{

  .password-rules{
    background-color: $gray-light;
    border-radius: $radius-default;
    padding: 30px;
    color: $gray;
    margin-bottom: 30px;

    ::ng-deep{
      atom-title h4{
        color: $gray;
      }
    }
  }
}


@media ($mobile) {
  :host{
    .password-rules{
      padding: 20px;
      > div{
        display: flex;
      }
    }
  }
}
