<template-default title="Altere a senha!" description="Escolha uma nova senha segura para acessar o seu cadastro.">

  <form class="login__form" [formGroup]="parentFormGroup" (submit)="onSubmit.emit()">
    <molecule-field type="password" text="Nova senha" id="newPassword" placeholder="Digite a nova senha"
      [parentFormGroup]="parentFormGroup">
      <div slot-after>
      </div>
    </molecule-field>

    <molecule-field type="password" text="Confirmar nova senha" id="newPasswordConfirm"
      placeholder="Confirme a nova senha" [parentFormGroup]="parentFormGroup">
      <div slot-after>
        <atom-message
          *ngIf="parentFormGroup.get('newPasswordConfirm').errors?.notMatch && parentFormGroup.get('newPasswordConfirm').touched"
          text="A confirmação de senha não confere.">
        </atom-message>
        <atom-message *ngIf="!hasErrors()" type="success">
          <atom-icon icon="checked-green"></atom-icon> Sua nova senha é segura.
        </atom-message>
      </div>
    </molecule-field>

    <molecule-password-rules *ngIf="hasErrors()">
      <atom-password-rule text="Pelo menos 6 caracteres">
        <atom-icon icon="checked-green"
          *ngIf="!parentFormGroup.get('newPassword').errors?.minLength && parentFormGroup.get('newPassword').dirty">
        </atom-icon>
      </atom-password-rule>
      <atom-password-rule text="Pelo menos 1 minúscula">
        <atom-icon icon="checked-green"
          *ngIf="!parentFormGroup.get('newPassword').errors?.lowerCaseLetter && parentFormGroup.get('newPassword').dirty">
        </atom-icon>
      </atom-password-rule>
      <atom-password-rule text="Pelo menos 1 maiúscula">
        <atom-icon icon="checked-green"
          *ngIf="!parentFormGroup.get('newPassword').errors?.upperCaseLetter && parentFormGroup.get('newPassword').dirty">
        </atom-icon>
      </atom-password-rule>
    </molecule-password-rules>

    <atom-button theme="primary" type="submit" text="Alterar senha" [disabled]="parentFormGroup.invalid">
    </atom-button>
  </form>
</template-default>