@import '~src/assets/styles/theme-default';

:host {

  label{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #4F4F4F;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep {
    a, span, strong{
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
    }
    a {
      color: #1F2F98;
    }
  }
}
