<div class="parte row3">
    <div id="footer" class="clear">
        <!-- seção 2 -->
        <div id="rodape">
            <section class="one_quarter">
                <h2 class="title">Categorias</h2>
                <nav>
                    <ul>
                        <li><a href="#!/semlactose">Sem Lactose</a></li>
                        <li><a href="#!/semgluten">Sem Glúten</a></li>
                        <li><a href="#!/vegetarianos">Vegetarianos</a></li>
                        <li><a href="#!/veganos">Veganos</a></li>
                        <li><a href="#!/diabeticos">Diabéticos</a></li>
                        <li class="last"><a href="#!/fitness">Fitness</a></li>
                    </ul>
                </nav>
            </section>
            <!-- seção 3 -->
            <section class="one_quarter">
                <h2 class="title">Mais Informações</h2>
                <nav>
                    <ul>
                        <li><a href="#!/sobre">Sobre nós</a></li>
                        <li><a href="#!/chefs">Chefs</a></li>
                        <li class="last"><a href="#!/contato">Contato</a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <!-- seção -->
    </div>
</div>