<div class="parte row1"> <!-- dimensao do logo 186x 166-->
    <img src="images/demo/naturallyDefinitiva.png" width="106" height="98">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1 style="font-family: Amatic SC "><a href="#!">Naturally</a></h1>
            <h2>Receitas Alternativas</h2>
        </div>
        <nav>
            <ul>
			    <li><a href="#!/sobre">SOBRE</a></li>
                <li><a href="#!/receitas">RECEITAS</a></li>
				<li><a href="#!/contato">CONTATO</a></li>
                <li><a href="#">
                    <div class="dropdown">
                        <button class="dropbtn"><a>CATEGORIAS</a></button>
                        <div class="dropdown-content">
                            <a href="#!/semlactose">Sem lactose</a>
                            <a href="#!/semgluten">Sem glúten</a>
                            <a href="#!/vegetarianos">Vegetarianos</a>
                            <a href="#!/veganos">Veganos</a>
                            <a href="#!/diabeticos">Diabéticos</a>
                            <a href="#!/fitness">Fitness</a>
                        </div>
                    </div>
                </a></li>
                <li><a href="#!/chefs">CHEFS</a></li>
                <li class="last">
                    <div class="rolagem">
                        <button onclick="alternar()" class="botaoRolar">BUSCA</button>
                        <div id="minhaRolagem" class="conteudoRolagem">
                            <input type="text" placeholder="Procurar.." id="entrada" onkeyup="filtro()">
                            <a href="#!/paesabobora">Pães de Abóbora</a>
                            <a href="#!/boloamendoim">Bolo de Amendoim</a>
                            <a href="#!/tortaricota">Torta de Ricota</a>
                            <a href="#!/cookies">Cookies de Pasta de Amendoim</a>
                            <a href="#!/paocastanha">Pão de Castanha do Pará</a>
                            <a href="#!/soufle">Souflé de Couve Flor</a>
                            <a href="#!/bolobrig">Bolo de Brigadeiro</a>
							<a href="#!/risoto">Risoto do Mar</a>
					        <a href="#!/sorvete">Sorvete de Limão</a>
							<a href="#!/tortafolhada">Torta Folhada de Legumes</a>
	                        <a href="#!/bolocenoura">Bolo de Cenoura</a>
							<a href="#!/rosquinhas">Rosquinhas de Leite Condensado</a>
					        <a href="#!/paodequeijo">Pão de Queijo Fake(Com Batata Doce)</a>
						    <a href="#!/hamburguer">Hambúrguer de Lentilha</a>
						    <a href="#!/brigadeiro">Brigadeiro</a>
                            <a href="#!/crepioca">Crepioca Fit</a>
							<a href="#!/barrinha">Barrinha Fit</a>
							<a href="#!/muffin">Muffin Fit de Banana</a>  
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

</div>