<template-default
  title="Esqueceu a senha?"
  description="Informe o seu email de cadastro que enviaremos as instruções para redefinir a senha de acesso a sua conta">

    <form class="login__form" [formGroup]="parentFormGroup" (submit)="onSubmit.emit()">
      <molecule-field
        type="email"
        text="Email"
        id="username"
        placeholder="Digite o email cadastrado"
        [parentFormGroup]="parentFormGroup">
          <div slot-after>
            <atom-message
              *ngIf="parentFormGroup.get('username').errors?.required && parentFormGroup.get('username').touched"
              text="O campo Email é obrigatório">
            </atom-message>
            <atom-message
              *ngIf="parentFormGroup.get('username').errors?.email && parentFormGroup.get('username').touched"
              text="O campo Email é obrigatório">
            </atom-message>
            <atom-message
              *ngIf="parentFormGroup.get('username').errors?.usernameNotFound && parentFormGroup.get('username').touched"
              text="Desculpe, não encontramos um cadastro com esse email. Verifique o email digitado ou entre em contato.">
            </atom-message>
          </div>
      </molecule-field>

      <atom-button
        theme="primary"
        type="submit"
        text="Recuperar Senha"
        [disabled]="parentFormGroup.invalid">
      </atom-button>
    </form>
</template-default>
