.main{
  background: radial-gradient(66.83% 109.44% at 99.52% 100%, #7BD5F5 0%, #1F2F98 100%),
              linear-gradient(180deg, #2D4B65 0%, #4378A2 100%),
              linear-gradient(180deg, #1CA7EC 0%, #1F2F98 100%);
}
