<footer id="gtco-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">

            <div class="col-md-4">
                <div class="col-md-12">
                    <!-- <h3 class="footer-heading">LOGO NATURALLY</h3>-->
                    <img src="frontend/assets/img/logo.png" class="img-responsive">
                </div>
                <dl>
                    <dt>Sobre</dt>
                    <dd>- O que é o Naturally?</dd>
                    <dd>- Informações sobre criadores</dd>
                    <dt>Contato</dt>
                    <dd> - Dê seu opinião para nós</dd>
                    <dd> - Tire suas dúvidas</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div class="post-entry">
                    <div class="col-md-12">
                        <h3 class="footer-heading">Seções</h3>
                    </div>
                    <dl>
                        <dt>Mensagens?</dt>
                        <dd>- Veja o que temos a dizer</dd>
                        <dd>- Dicas, tutorias, melhores ingredientes</dd>
                        <dt>O que há de novo?</dt>
                        <dd>- Tendências</dd>
                        <dd>- Novidades</dd>
                        <dd>- Mais acessadas</dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post-entry">
                    <div class="col-md-12">
                        <h3 class="footer-heading">Acompanhe-nos</h3>
                    </div>

                    <ul class="gtco-social-icons">
                        <li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
                        <br>
                        <li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
                        <br>
                        <li><a href="#"><i class="icon-pinterest-with-circle"></i></a></li>
                        <br>
                        <li><a href="#"><i class="icon-instagram-with-circle"></i></a></li>
                        <br>
                        <li><a href="#"><i class="icon-google-with-circle"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!--
        <div class="row capa">
            <div class="col-md-12 text-center">
                <p>NEWSLETTER AQUI SE DEUS QUISER
                </p>
            </div>
        </div>-->

    </div>
</footer>