
body {
    background: rgba(255, 151, 148, 0.7);
}

#fh5co-page {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content {
    position: relative;
    top: 16vh;
}

#fh5co-aside {
    padding-top: 60px;
    padding-bottom: 40px;
    width: 20%;
    position: fixed;
    bottom: 0;
    top: 0;/*
    border-right: solid 1px #ffffff;*/
    left: 0;
    overflow-y: hidden;
    z-index: 1001;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    #fh5co-aside {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
    }
}

#fh5co-aside #fh5co-logo {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 38px;
}

@media screen and (max-width: 768px) {
    #fh5co-aside #fh5co-logo {
        margin-bottom: 1em;
    }
}

#fh5co-aside #fh5co-logo a {
    color: #000;
}

#fh5co-aside #fh5co-logo a span {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

#fh5co-aside #fh5co-main-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #fh5co-aside #fh5co-main-menu ul {
        margin: 0 0 2em 0;
    }
}

#fh5co-aside #fh5co-main-menu ul li {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

#fh5co-aside #fh5co-main-menu ul li a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: 'Shadows Into Light', cursive;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#fh5co-aside #fh5co-main-menu ul li .active{
    text-decoration: line-through;
}
#fh5co-aside #fh5co-main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    background-color: #228896;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#fh5co-aside #fh5co-main-menu ul li a:hover {
    text-decoration: none;
    color: black;
}

#fh5co-aside #fh5co-main-menu ul li a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#fh5co-aside #fh5co-main-menu ul li.fh5co-active a {
    color: black;
}

#fh5co-aside #fh5co-main-menu ul li.fh5co-active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}



#fh5co-main {
    width: 80%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    #fh5co-main {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-main {
        width: 100%;
    }
}

body.offcanvas {
    overflow-x: hidden;
}

body.offcanvas #fh5co-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 270px;
    background: #fff;
    z-index: 999;
    position: fixed;
}

body.offcanvas #fh5co-main {
    top: 0;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
}

#gtco-footer {
    display: none;
}

.gtco-nav > .container {
    padding-bottom: 16px;
    border-bottom: none;
}

.gtco-nav ul li a:hover {
    color: #fff;
}

#alo {
    background-color: rgba(255, 136, 136, 0.89);
    border-bottom: none;
    height: 92px;
}

.gtco-nav ul li > a {
    color: black;
}

.gtco-nav a {
    color: black;
}

#gtco-main {
    width: 100%;
    background-color: #f7f7f7;
    float: left;
}

#gtco-main .container-fluid {
    padding-top: 3em;
    padding-bottom: 2em;
}

.fh5co-portfolio {
    width: 95%;
    float: left;
    margin-bottom: 40px;
    position: relative;
    left: 18px;
}

.fh5co-portfolio > a {
    width: 100%;
    float: left;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.fh5co-portfolio > a:hover {
    webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}

.fh5co-portfolio > a:hover .desc {
    opacity: 1;
}

.fh5co-portfolio .portfolio-entry {
    width: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

@media screen and (max-width: 768px) {
    .fh5co-portfolio .portfolio-entry {
        height: 400px;
    }
}

.fh5co-portfolio .portfolio-entry .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    padding: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-portfolio .portfolio-entry .desc p {
    color: #8f989f;
}

.fh5co-portfolio .portfolio-text {
    width: 100%;
    float: left;
    padding: 20px;
}

.fh5co-portfolio .portfolio-text h3 {
    font-size: 20px;
}

.fh5co-portfolio .portfolio-text .stuff {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
}

.fh5co-portfolio .portfolio-text .stuff li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.fh5co-portfolio .portfolio-text .stuff li:first-child {
    margin-left: 0;
}

.fh5co-portfolio .portfolio-text .stuff li i {
    font-size: 14px;
    padding-right: 5px;
}