
body {
    font-family: "Inconsolata", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #333333;
    background: #fff;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}


.fh5co-portfolio {
    width: 95%;
    float: left;
    margin-bottom: 40px;
    position: relative;
    left: 18px;
}

.fh5co-portfolio > a {
    width: 100%;
    float: left;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.fh5co-portfolio > a:hover {
    webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}

.fh5co-portfolio > a:hover .desc {
    opacity: 1;
}

.fh5co-portfolio .portfolio-entry {
    width: 100%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

@media screen and (max-width: 768px) {
    .fh5co-portfolio .portfolio-entry {
        height: 400px;
    }
}

.fh5co-portfolio .portfolio-entry .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    padding: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.fh5co-portfolio .portfolio-entry .desc p {
    color: #8f989f;
}

.fh5co-portfolio .portfolio-text {
    width: 100%;
    float: left;
    padding: 20px;
}

.fh5co-portfolio .portfolio-text h3 {
    font-size: 20px;
}

.fh5co-portfolio .portfolio-text .stuff {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
}

.fh5co-portfolio .portfolio-text .stuff li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.fh5co-portfolio .portfolio-text .stuff li:first-child {
    margin-left: 0;
}

.fh5co-portfolio .portfolio-text .stuff li i {
    font-size: 14px;
    padding-right: 5px;
}

.section-heading {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.fh5co-animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../../../solid/images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}

.nav-tabs li a:hover {
    background-color: #979797;
    font-weight: bold;
    font-size: 19px;

}

.nav-tabs li a {
    color: black;
    font-size: 15px;
}

#fh5co-header, .fh5co-cover {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 400px;
    width: 100%;
}

#fh5co-header .overlay,
.fh5co-cover .overlay .container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 127, 80);
    background: -moz-linear-gradient(top, rgb(255, 127, 80) 1%, rgb(255, 185, 160) 100%);
    background: -webkit-linear-gradient(top, rgb(255, 127, 80) 1%, rgb(255, 185, 160) 100%);
    background: linear-gradient(to bottom, rgb(255, 127, 80) 1%, rgb(255, 185, 160) 100%);
    float: left;}

.fh5co-cover .profile-thumb img {
    height: 280px;
    width: 280px;
    position: relative;
    top: 31vh;
    border: white 8px solid;
    right: 12vh;
}
.num{
    background-color: rgba(255,255,255,.15);

}
.profilenav-list {
    height: 70px;
    background: #f5b39b;
}

.profilenav-list blockquote {
    position: relative;
    left: 60vh;
    top: 1vh;
    color: white;
    display: inline-block;
}

.profilenav-list blockquote footer {
    color: #FFFFFF;
    font-size: 15px;
}
.profilenav-list .navbar-right .btn {
    position: relative;
    top: 2.1vh;
    border-radius: 30px;
    background-color: #f5f5f5ab;
}
.rosa {
    background: #a6d5dc;
    color: white;
}
.branco {
    background: #b3e4ce;
    color: white;
}
.info {
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
    margin-top: 45px;
    margin-left: -106px;
}

.info li {
    width: 100%;
    float: left;
    list-style: none;
}

.info li:first-child {
    padding-top: 0;
}

.info li .first-block {
    width: auto;
    font-size: 25px;
    color: #000;
    font-weight: 500;
}

.info li .second-block {
    width: 60%;
    position: relative;
    right: 12px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
}
.info li .third-block {
    text-align: left !important;
    font-size: 15px;
    position: relative;
    top: 10px;
    color: #767676;
}

.receita-form {
    margin-top: 4vh;
    margin-bottom: 4vh;
}