$font-family = 'Ubuntu', sans-serif

// Border radius
$radius-default = 6px

// Transition
$transition-fast =  all 0.1s ease-in-out
$transition-default = all 0.25s ease-in-out
$transition-medium = all 0.5s ease-in-out
$transition-slow = all 0.75s ease-in-out

// Default colors
$white = #FFFFFF
$alert = #EA5172
$success =  #00D1AB
$gray = #4F4F4F
$gray-light = #EFF1F5
$gray-dark = #535353

// Color palette
$green-light = #C5FB4F
$green = #618C03
$yellow = #F2B705
$orange = #D97904
$red = #D92B04
$brown = #8C0E03

// Media queries
$mobile = 'max-width: 767px'
