
.row2 .form{
    height:600px;

}

/*Cor do titulo e cor do fundo do titulo (parte superior)*/
.row2 {
    color: #979797;
    background-color: #EAF0F7;
}

/*letras abaixo das receitas e fundo branco*/
.row2 a {
    color: lightcoral;
    background-color: #EAF0F7;

}

.row2 a:active {
    font-weight: bold;
    color: saddlebrown;
}